@font-face {
    font-family: Manaspace;
    src: url(../fonts/manaspace.ttf);
}

/*-------------------- General --------------------*/

html,body {
	background-color: #e3ea9b;
	color: #777;
}

h1,h2,h3,h4 {
	font-family: Manaspace;
	color: #777;
}

.bq {
	font-family: Manaspace;
	color: #007F7F;
}

img.logo {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

a.btn-dl, 
a.btn-dl:focus,
a.btn-dl:hover,
a.btn-dl:active  {
	border-radius: 0;
	background-color: #7A5209;
	color: #e3ea9b;
	font-family: Manaspace;
}

.btn-effect {
	transition-duration: 0.7s;
	margin-left: 2%;
	width: 96%;
}

.btn-effect:hover {
	width: 110%;
	margin-left: -5%;
}

.btn-effect:active {
	transition-duration: 0.4s;
	width: 90%;
	margin-left: 5%;
}

/*-------------------- Slides --------------------*/

.slide {
    min-height: 100vh;
}