@font-face {
    font-family: Manaspace;
    src: url(../fonts/manaspace.ttf);
}

body {
	/*background-color: #fbdea3;*/
	/*background-color: #e6d86a;*/
	background-color: #e3ea9b;
}

h1,h2,h3,h4 {
	font-family: Manaspace;
	color: #777;
}

nav.navbar {
	/*background-color: #fbc555;*/
	/*background-color: #CAD711; */
	background-color: #dced33;
	border: 0px;
	border-bottom: 5px solid #d7a140;
	border-radius: 0px;

	position: fixed;
	z-index: 10;
	width: 100%;
}

div#bottomLine {
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;

	height: 7px;
	background-color: #d7a140;
}

.navbar-header .navbar-brand {
	font-family: Manaspace;
	font-size: 3rem;
	margin-top: 5px;
}

img.logo {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	
	image-rendering: pixelated;

	width: 100%;
}

nav.navbar button {
	border-radius: 0;
	border: 0;
	margin-top: 12px;
	background-color: #dced33;
}

nav.navbar button.navbar-toggle:hover, nav.navbar button.navbar-toggle:active, nav.navbar button.navbar-toggle:focus {
	background-color: #d7a140;
}

.row {
	margin-top: 10vh;
	margin-bottom: 2vh;
	height: 88vh;
}

.col-text {
	padding-top: 10vh;
}

p.test {
	text-align: justify;
}